<div th:fragment="lib">
    <link  th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!-- Custom Theme files -->
    <!--menu-->
    <script th:src="@{/js/scripts.js}"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!--//menu-->
    <!--theme-style-->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script  th:src="@{/js/utils.js}"></script>
    <link th:href="@{/css/sweetalert.css}" rel="stylesheet" />
    <script th:src="@{/js/sweetalert.min.js}" ></script>
    <script th:src="@{/js/sweetalert-dev.js}" ></script>

    <link th:href="@{/css/toastr.css}" rel="stylesheet" />
    <script th:src="@{/js/toastr.min.js}" ></script>
    <script th:src="@{/js/base.js}" ></script>

    <link rel="stylesheet" th:href="@{/css/bootstrapValidator.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrapValidator.js}"></script>
    <script type="text/javascript" th:src="@{/js/zh_CN.js}"></script>
</div>

