<div th:fragment="mlib">

    <script th:src="@{/js/jquery.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css?v=4.4.0}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.min.css?v=4.0.0}" rel="stylesheet">

    <script th:src="@{/js/bootstrap.min.js}" src="?v=3.3.5"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}" src=""></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}" src=""></script>
    <script th:src="@{/js/plugins/layer/layer.min.js}" src=""></script>
    <script th:src="@{/js/hplus.min.js?v=4.0.0}" src="js/hplus.min.js?v=4.0.0"></script>
    <script th:src="@{/js/contabs.min.js}" type="text/javascript" src=""></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}" src="js/plugins/pace/pace.min.js"></script>

</div>

