<div th:fragment="mlib">

    <script th:src="@{/js/jquery.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/assets/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/css/member/style.css}" rel="stylesheet" />
    <link th:href="@{/css/member/style_responsive.css}"  rel="stylesheet" />
    <link th:href="@{/css/member/style_default.css}" rel="stylesheet" id="style_color" />

    <link th:href="@{/css/jquery.fancybox.css}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/assets/uniform/css/uniform.default.css}" />
    <link th:href="@{/css/bootstrap-fullcalendar.css}" rel="stylesheet" />
    <link th:href="@{/css/assets/jqvmap/jqvmap/jqvmap.css}" media="screen" rel="stylesheet" type="text/css" />


    <script th:src="@{/css/assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js}"></script>
    <script th:src="@{/css/assets/jquery-slimscroll/jquery.slimscroll.min.js}" src=""></script>
    <script th:src="@{/css/assets/fullcalendar/fullcalendar/fullcalendar.min.js}" src=""></script>
    <script th:src="@{/css/assets/bootstrap/js/bootstrap.min.js}" src=""></script>
    <script th:src="@{/js/jquery.blockui.js}" src=""></script>
    <script th:src="@{/js/jquery.cookie.js}" src=""></script>
    <!-- ie8 fixes -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/excanvas.js}" src=""></script>
    <script th:src="@{/js/respond.js}" src=""></script>
    <![endif]-->
    <script th:src="@{/css/assets/jqvmap/jqvmap/jquery.vmap.js}" src="" type="text/javascript"></script>
    <script th:src="@{/css/assets/jqvmap/jqvmap/maps/jquery.vmap.russia.js}" src="" type="text/javascript"></script>
    <script th:src="@{/css/assets/jqvmap/jqvmap/maps/jquery.vmap.world.js}" src="" type="text/javascript"></script>
    <script th:src="@{/css/assets/jqvmap/jqvmap/maps/jquery.vmap.europe.js}" src="" type="text/javascript"></script>
    <script th:src="@{/css/assets/jqvmap/jqvmap/maps/jquery.vmap.germany.js}" src="" type="text/javascript"></script>
    <script th:src="@{/css/assets/jqvmap/jqvmap/maps/jquery.vmap.usa.js}" src="" type="text/javascript"></script>
    <script th:src="@{/css/assets/jqvmap/jqvmap/data/jquery.vmap.sampledata.js}" src="" type="text/javascript"></script>
    <script th:src="@{/css/assets/jquery-knob/js/jquery.knob.js}" src=""></script>
    <script th:src="@{/css/assets/flot/jquery.flot.js}" src=""></script>
    <script th:src="@{/css/assets/flot/jquery.flot.resize.js}" src=""></script>

    <script th:src="@{/css/assets/flot/jquery.flot.pie.js}" src=""></script>
    <script th:src="@{/css/assets/flot/jquery.flot.stack.js}" src=""></script>
    <script th:src="@{/css/assets/flot/jquery.flot.crosshair.js}" src=""></script>

    <script th:src="@{/js/jquery.peity.min.js}" src=""></script>
    <script th:src="@{/css/assets/uniform/jquery.uniform.min.js}" type="text/javascript" src=""></script>
    <script th:src="@{/js/scripts.js}" src=""></script>
</div>

