<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <title>合肥网吧</title>


    <link th:include="fragments/lib :: lib">

    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=87932b21ac1132e602879267767b8bc7"></script>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>

    <script type="text/javascript" th:src="@{/js/distpicker.data.js}" ></script>
    <script type="text/javascript" th:src="@{/js/distpicker.js}" ></script>

    <script type="text/javascript" th:src="@{/js/fileinput.js}" ></script>
    <link  rel="stylesheet" th:href="@{/css/fileinput.css}"/>
    <script type="text/javascript" th:src="@{/js/zh.js}" ></script>

    <link  rel="stylesheet" th:href="@{/js/plugins/summernote/summernote.css}"/>
    <script type="text/javascript" th:src="@{/js/plugins/summernote/summernote.js}" ></script>

    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Real Home  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body class=" pre-scrollable    ">
<!--header-->
<div th:include="fragments/header :: header(发现,'')"></div>
<!--//header-->
<!--contact-->
<div class="privacy" >
    <div class="container">
        <h3>发现网吧</h3>


        <form id="form" class="form-horizontal" role="form" method="post" th:action="@{/save}">
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="firstname" placeholder="请输入网吧名称"  />
                </div>
            </div>
            <div class="form-group form-inline">
                <label  class="col-sm-2 control-label">位置</label>
                <div class="col-sm-10">
                    <div data-toggle="distpicker">
                        <select class="form-control" data-province="安徽省" disabled="disabled"></select>
                        <select class="form-control" data-city="合肥市" disabled="disabled"></select>
                        <select class="form-control" name="area"></select>
                        <input type="text" class="form-control" name="addDetail" id="addDetail" placeholder="请输入地址详细" >
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label  class="col-sm-2 control-label">类型</label>
                <div class="col-sm-10">
                    <select name="type" class="form-control" th:utext="${barOpts}" >

                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="capacity" class="col-sm-2 control-label">容量</label>
                <div class="col-sm-10">
                    <input type="text" name="capacity" class="form-control" id="capacity" placeholder="请输入网吧大致容量" th:title="不能为空">
                </div>
            </div>

            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">联系电话</label>
                <div class="col-sm-10">
                    <input type="text" name="phone" class="form-control" id="phone" placeholder="请输入联系电话" th:title="不能为空">
                </div>
            </div>


            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">图片</label>
                <div class="col-sm-10">
                    <input id="uploadImg" class="file"  type="file" multiple data-min-file-count="1">
                </div>
            </div>

            <div class="form-group">
                <label for="summernote" class="col-sm-2 control-label">简介</label>
                <div class="col-sm-10">
                    <div id="summernote" ></div>
                    <input name="description" type="hidden" id="description">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">电脑配置</label>
                <div class="col-sm-10">
                   <hr>
                </div>
            </div>

            <div class="form-group ">
                <label  for="com_cpu" class="col-sm-2 control-label small text-info">CPU</label>
                <div class="col-sm-10">
                    <input type="text" name="com_cpu" class="form-control" id="com_cpu" placeholder="请输入电脑CPU型号" >
                </div>
            </div>

            <div class="form-group ">
                <label  for="com_board" class="col-sm-2 control-label small text-info">主板</label>
                <div class="col-sm-10">
                    <input type="text" name="com_board" class="form-control" id="com_board" placeholder="请输入电脑主板型号" >
                </div>
            </div>

            <div class="form-group ">
                <label  for="com_memory" class="col-sm-2 control-label small text-info">内存</label>
                <div class="col-sm-10">
                    <input type="text" name="com_memory" class="form-control" id="com_memory" placeholder="请输入电脑内存大小" >
                </div>
            </div>

            <div class="form-group ">
                <label  for="com_card" class="col-sm-2 control-label small text-info">显卡</label>
                <div class="col-sm-10">
                    <input type="text" name="com_card" class="form-control" id="com_card" placeholder="请输入电脑显卡" >
                </div>
            </div>

            <div class="form-group ">
                <label  for="com_chassis" class="col-sm-2 control-label small text-info">机箱</label>
                <div class="col-sm-10">
                    <input type="text" name="com_chassis" class="form-control" id="com_chassis" placeholder="请输入电脑机箱" >
                </div>
            </div>

            <div class="form-group ">
                <label  for="com_keyboard" class="col-sm-2 control-label small text-info">键盘</label>
                <div class="col-sm-10">
                    <input type="text" name="com_keyboard" class="form-control" id="com_keyboard" placeholder="请输入电脑键盘" >
                </div>
            </div>

            <div class="form-group ">
                <label  for="com_mouse" class="col-sm-2 control-label small text-info">鼠标</label>
                <div class="col-sm-10">
                    <input type="text" name="com_mouse" class="form-control" id="com_mouse" placeholder="请输入电脑鼠标" >
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-lg btn-primary btn-block" id="submit">提交</button>
                </div>
            </div>
        </form>


        <script>
            $(function(){
                $(document).ready(function() {
                    $('#summernote').summernote();
                });

                $("#submit").click(function(){
                    console.log(1);
                    $("#description").val($('#summernote').summernote("code"));
                    $("#form").submit();
                });

         /*       $("#uploadImg").fileinput({
                    uploadUrl:"/uploadImg",//上传的地址
                    uploadAsync: true,
                    language : "zh",//设置语言
                    showCaption: true,//是否显示标题
                    showUpload: true, //是否显示上传按钮
                    browseClass: "btn btn-primary", //按钮样式
                    allowedFileExtensions: ["jpg", "png","jpeg"], //接收的文件后缀
                    maxFileCount: 10,//最大上传文件数限制
                    uploadAsync: true,
                    previewFileIcon: '<i class="glyphicon glyphicon-file"></i>',
                    uploadExtraData: function() {
                        var extraValue = null;
                        var radios = document.getElementsByName('excelType');
                        for(var i=0;i<radios.length;i++){
                            if(radios[i].checked){
                                extraValue = radios[i].value;
                            }
                        }
                        return {"excelType": extraValue};
                    },
                    allowedPreviewTypes: null
                });*/

                $("122").bootstrapValidator({
                    message: 'This value is not valid',
                        feedbackIcons: {/*输入框不同状态，显示图片的样式*/
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                    },

                    fields: {
                    name:{
                    validators:{
                        notEmpty:{
                            message:'网吧名称不能为空'
                        },
                        stringLength:{
                            message:'网吧名称字数范围为2到20位',
                            min:2,
                            max:20
                        }
                    }},
                        phone:{
                            validators:{
                                notEmpty:{
                                    message:'联系电话不能为空'
                                },
                                regexp:{
                                    message:'联系电话不合法',
                                    regexp: /^((0\d{2,3}-\d{7,8})|(1[3584]\d{9}))$/,
                                }
                            }},
                        addDetail:{
                           validators:{
                               notEmpty:{
                                   message:'详细地址不能为空'
                               }
                               ,
                               stringLength:{
                                   message:'详细地址字数范围为2到50位',
                                   min:2,
                                   max:50
                               }
                           }
                        }
                }
                });



                //电话校验
               /* $("#submit").click(function(){

                    if(isNullOrEmpty($("#phone").val())){
                        $("#phone").tooltip('show');
                        setTimeout(function(){$("#phone").tooltip('destroy')},2000);
                        return;
                    }

                })*/

            })

        </script>


        </div>




    </div>
</div>
<!--//contact-->
<!--footer-->
<div th:include="fragments/footer :: footer"></div>
<!--//footer-->
</body>
</html>